// @import 'spectate';
@import 'animations';

#lede * {
  box-sizing: unset;
}

/**
 * Interactive lede chart
 */

$black: #121212;
$gray: #999;
$grid-color: #d4d4d4;

$trans-dur: .3s;

#chart-container {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  top: 0;

  svg {
    display: block;
    margin: 0 auto;

    text {
      font-family: $roboto;
    }
  }
}

g.lines-container > g.line-container {
  path {
    fill: none;
    stroke-width: 2px;
  }

  g.point-label text {
    font-weight: 500;
    font-size: 18px;
    text-anchor: start;
    dominant-baseline: central;
  }
}


#chart-container[data-index="0"] g.line-container[data-country="US"],
#chart-container[data-index="4"] g.line-container[data-country="China"],
#chart-container[data-index="5"] g.line-container[data-country="Korea, South"],
#chart-container[data-index="6"] g.line-container[data-country="Italy"],
{
  circle {
    animation: $pulse-anim;
  }
}


g.axis {
  .domain {
    stroke: $grid-color;
  }
  .tick {
    line {
      stroke: $grid-color;
    }

    text {
      color: $gray;
      font-size: 14px;
    }
  }
}

g.axis .domain {
  display: none;
}

text.confirmed-cases-title, text.time-label {
  font-weight: 600;
  font-size: 17px;
  dominant-baseline: central;

  tspan.background-text {
    stroke-width: 14px;
    opacity: 0.9;
  }
}

text.time-label {
  text-anchor: middle;
}

@media (max-width: 460px) {
  text.time-label {
    font-size: 16px;
  }
}

g.annotations-container {
  g.annotation {
    circle {
      transition-property: fill, stroke, stroke-width;
      transition-duration: $trans-dur;
      stroke-width: 1px;
    }

    line.connector {
      stroke: $black;
      stroke-width: 1.5px;
    }

    line.cases-line {
      stroke: $black;
      stroke-dasharray: 4;
    }

    text {
      transition-duration: $trans-dur;
      text-anchor: middle;
      font-family: $roboto;
      font-size: 17px;
      fill: $black;
    }
  }

  g.annotation:not(.small-annotation) circle {
    stroke: black;
    stroke-width: 1.2px;
  }

  g.small-annotation {
    circle {
      // fill: $gray;
      // stroke: $gray;
    }

    text.note-text {
      fill: $gray;
    }

    line.connector {
      // stroke-opacity: 0;
    }
  }

  g.hide-cases {
    g.case-count-container {
      opacity: 0;
    }
  }
}

g.small-annotation {
  &[data-label="Dartmouth and Brown"] {
    text {
      text-anchor: start !important;
      transform: translate(-12px, 0);
    }
  }
}

g.case-count-container {
  transition-duration: $trans-dur;
  transition-property: opacity;

  line {
    stroke: $black;
    stroke-dasharray: 6;
  }

  text {
    font-weight: 500;
    transform: translate(0, -7px);
  }
}

tspan.background-text {
  stroke: #fff;
  opacity: 0.8;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/**
 * Interactive lede steps
 */

#steps-container {
  // pointer-events: none;
  z-index: 2;
  transform: translate3d(0, 0, 0);
}

$step-margin-left: 120px;
$step-max-width: 470px;

.lede-step {
  padding-top: 0;
  padding-bottom: 80vh;

  p {
    padding: 20px;
    margin: 0;
    margin-left: $step-margin-left;
    font-family: $georgia;
    font-size: 20px;
    line-height: 30px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 5px 0 #e4e4e4;
    width: calc(100% - 40px);
    max-width: $step-max-width;
  }
}

.lede-step-surrounding-padding:nth-last-child(-n+2) .lede-step p {
  margin: 0 auto;
}

@media (max-width: $step-max-width + 2 * $step-margin-left) {
  .lede-step p {
    margin: 0 auto;
    box-sizing: border-box;
  }

  g.small-annotation.hide-on-mobile {
    visibility: hidden;
  }
}

c.country-name-highlight {
  padding: 3px 6px 4px;
  border-radius: 4px;
  color: white;
  // Background color determined in the code
}
