@import 'styles/spectate';

// Uncomment the next line if this project is an full-page Eye lead
// @import 'styles/eye-lead-ellipsis';
// Uncomment the next line if this project is a News story
// @import 'styles/news-ellipsis';

body {
  // Arc's overflow hidden on <body> messes up position sticky
  overflow-x: visible !important;
}
* {
  box-sizing: border-box;
}



/* scrollama */

#scroll {
  position: relative;
  left:0;
  margin-bottom:50vh;
}

.scroll__graphic {
  position: sticky;
  top:2.5vh;
  left: 0;
  bottom: auto;
}

.scroll__graphic.is-fixed {
  position: fixed;
}

.scroll__graphic.is-bottom {
  bottom: 0;
  top: auto;
}

.chart {
  position: absolute;
  left:-5vw;

}


.scroll__text {
  position: relative;
  padding: 0 1rem;
  max-width: 30rem;
  width: 33%;
  left:60%;
}


.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.m-fadeOut {
  visibility: hidden !important;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.m-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 700ms;
}

@keyframes pulse {
  0% {
    stroke-width: 0;
    stroke-opacity: 1;
  }
  60% {
    stroke-width: 0;
    stroke-opacity: 1;
  }
  100% {
    stroke-width: 18px;
    stroke-opacity: 0;
  }
}
.anim0, .anim3 {
  visibility:hidden;
  fill: #D13838;
  stroke: #D13838;
  stroke-width: 0.33;
  overflow:visible !important;
  animation: 1.8s infinite pulse;

}

.small {
  height:300px !important;
}

.Scrolly0, .Scrolly1, .Scrolly2, .Scrolly3, .Scrolly4, .Scrolly5 {
  opacity:0;
  transition: all 0.1s ease-in-out;
}

