@import 'styles/spectate';
@import 'styles/animations';

// Uncomment the next line if this project is an full-page Eye lead
// @import 'styles/eye-lead-ellipsis';
// Uncomment the next line if this project is a News story
// @import 'styles/news-ellipsis';

body {
  // Arc's overflow hidden on <body> messes up position sticky
  overflow-x: visible !important;
}

/**
 * Interactive lede chart
 */

$black: #121212;
$gray: #888;
$grid-color: #ddd;

#chart-container {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  top: 0;

  svg {
    display: block;
    margin: 0 auto;

    text {
      font-family: $roboto;
    }
  }
}

g.lines-container > g.line-container {
  path {
    fill: none;
    stroke-width: 2px;
  }

  g.point-label text {
    font-weight: 500;
    font-size: 18px;
    text-anchor: end;
    transform: translate(9px, -18px); // top-oriented text
  }

  &[data-country="Korea, South"] g.point-label text {
    transform: translate(9px, 27px); // bottom-oriented text
  }
}

#chart-container[data-index="0"] g.line-container[data-country="US"],
#chart-container[data-index="3"] g.line-container[data-country="China"],
#chart-container[data-index="4"] g.line-container[data-country="Korea, South"], {
  circle {
    animation: $pulse-anim;
  }
}

g.axis {
  .tick {
    line {
      stroke: $grid-color;
    }

    text {
      color: #666;
      font-size: 13px;
    }
  }
}

g.axis .domain {
  display: none;
}

g.annotations-container {
  g.annotation {
    circle {
      fill: red;
    }

    line.connector {
      stroke: $black;
    }

    line.cases-line {
      stroke: $black;
      stroke-dasharray: 4;
    }

    text {
      text-anchor: middle;
      font-family: $roboto;
      font-size: 17px;
      fill: $black;
    }
  }

  g.small-annotation {
    circle {
      fill: $gray;
    }

    text {
      fill: $gray;
      dominant-baseline: hanging;
    }

    &.orientation-top text {
      dominant-baseline: unset;
    }
  }
}

g.case-count-container {
  line {
    stroke: $black;
    stroke-dasharray: 4;
  }

  text {
    font-weight: 500;
    transform: translate(0, -7px);
  }
}

tspan.background-text {
  stroke: #fff;
  opacity: 0.8;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/**
 * Interactive lede steps
 */

#steps-container {
  pointer-events: none;
  z-index: 2;
  transform: translate3d(0, 0, 0);
}

.step {
  padding-top: 0;
  padding-bottom: 70vh;

  p {
    padding: 20px;
    margin: 0;
    margin-left: 120px;
    font-family: $georgia;
    font-size: 20px;
    line-height: 30px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 5px 0 #e4e4e4;
    width: calc(100% - 40px);
    max-width: 470px;
  }
}

c.country-name-highlight {
  padding: 3px 6px 4px;
  border-radius: 4px;
  // Background color determined in the code
}